#POSTGRES
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#ENVIRONMENT
PORT=

#JWT
JWT_PRIVATE_KEY=

#PATHS
SERVER_DOMAIN_URL=
SITE_DOMAIN_URL=

#TELEGRAM
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=

#NAMES
APP_NAME=
